body {
    background-image: url('background.jpg');
    background-size: auto;
}

h6 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

.datarow {
    height: auto;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.datacell {
    border: 1px solid #a5a5a7;
    padding: 1rem;
}

.graphrow{
    height: auto;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
}