body {
    background-image: url('background.jpg');
    background-size: auto;
}

h3 {
    text-align: center;
}

h6 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

p {
    font-size: smaller;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

label{
    font-size: larger;
    font-weight: bolder;
}

.btn-click {
    color: #e6e6e6;
    background-color: #104263;
    margin-left: .25rem;
    margin-right: .25rem;
}

.datarow {
    height: auto;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.datacell {
    border: 1px solid #a5a5a7;
    padding: 1rem;
}

.graphrow{
    height: auto;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;
}

footer {
    width: 100%;
    text-align: center;
    padding-bottom: .25rem;
    padding-top: .25rem;
}